services:
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}

  backend:
    build:
      context: ./backend
    depends_on:
      - db
    volumes:
      - static_prod_vol:/app/staticfiles
    environment:
      - DEBUG={BACKEND_DEBUG}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_NAME=${DB_NAME}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}

  frontend:
    build:
      context: ./frontend
    environment:
      - VITE_API_URL=http://localhost:8000/api

volumes:
  postgres_data:
  static_prod_vol: