services:
  backend:
    build:
      target: prod
    restart: always
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000

  frontend:
    build:
      target: prod
    ports:
      - "80:80"
    restart: always
    command: nginx -g daemon off;
    volumes:
      - static_prod_vol:/app/staticfiles:ro